@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700&display=swap");
.title-principal {
  font-size: 48px;
  font-weight: 600;
}

.title-principal-mobile {
  font-size: 30px;
  font-weight: 600;
}

.small-title {
  font-size: 24px;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#home {
  background: #d64141;
  background: linear-gradient(207deg, #d64141 0%, #6c2828 11%, #280f0f 32%, black 66%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
}

#home .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 65%;
  padding: 20px 10px;
}

#home .navbar a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

#home .navbar a:hover {
  text-decoration: underline;
  font-weight: 600;
}

#home .content-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 10% 0;
}

#home .content-home .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#home .content-home .text .learnMore p {
  padding: 20px 0 20px 0;
}

#home .content-home .text .learnMore .dot {
  -webkit-animation: infiniteUpDown 1.5s infinite;
          animation: infiniteUpDown 1.5s infinite;
  width: 90px;
  background-color: #CA6262;
  border-radius: 90px;
}

#home .content-home .text .learnMore .dot img {
  padding: 25px;
}

#about .text .btn-about {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  padding: 15px 40px;
  background: #ca6262;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#about .text .btn-about:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.space {
  width: 30%;
  height: 1.5px;
  background-color: #CA6262;
  margin: 30px auto;
}

#projects {
  padding: 30px;
}

#projects .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px;
}

#projects .gallery .project {
  width: 200px;
  text-align: center;
}

#projects .gallery .project a img {
  -webkit-box-shadow: 5px 2px 10px  #000000;
          box-shadow: 5px 2px 10px  #000000;
  border-radius: 15px;
}

#projects .gallery .project a img:hover {
  opacity: .5;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-box-shadow: 5px 2px 20px  #000000;
          box-shadow: 5px 2px 20px  #000000;
}

#projects .gallery .project .desc {
  padding-top: 15px;
}

#footer {
  background-color: #000;
  padding: 30px;
  color: #fff;
}

#footer a {
  text-decoration: none;
  color: inherit;
}

#footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 28px;
}

#footer .contact a:hover {
  text-decoration: underline;
}

#footer .contact .vr-footer {
  background-color: #fff;
  width: 2px;
  height: 100px;
  margin: 0 60px;
}

#footer .contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .contact .social h3 {
  padding-bottom: 20px;
}

#footer .contact .social .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

#footer .contact .social .icons img {
  padding-right: 10px;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes infiniteUpDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes infiniteUpDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@media only screen and (min-width: 721px) {
  #home .content-home .text {
    width: 35%;
    -webkit-animation-name: moveInLeft;
            animation-name: moveInLeft;
    -webkit-animation-duration: 2.5;
            animation-duration: 2.5;
  }
  #home .content-home .text .learnMore .dot {
    margin-left: 3rem;
  }
  #home .content-home .text .learnMore .dot:hover {
    -webkit-box-shadow: 0 0 20px 6px #e78267;
            box-shadow: 0 0 20px 6px #e78267;
    -webkit-transition: .6s;
    transition: .6s;
  }
  #home .content-home .profile-pic {
    width: 450px;
    -webkit-animation-name: moveInRight;
            animation-name: moveInRight;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
  }
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 40px 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .text {
    width: 450px;
    line-height: 29px;
    text-align: right;
  }
  #about .text .btn-about {
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    padding: 15px 40px;
    background: #ca6262;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  #about .text .btn-about:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  }
  #about .skills {
    text-align: center;
  }
  #about .skills img {
    width: 100px;
    margin-right: 30px;
  }
  #about .skills .image-skills {
    -webkit-animation: .8s linear slidein;
            animation: .8s linear slidein;
    padding: 30px 30px;
  }
  #about .skills .image-skills .image1, #about .skills .image-skills .image2, #about .skills .image-skills .image3, #about .skills .image-skills .image4, #about .skills .image-skills .image5, #about .skills .image-skills .image6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 720px) {
  #home {
    height: 100vh;
  }
  #home .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 10px;
    margin: 0;
  }
  #home .content-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 140px 0 0 0;
  }
  #home .content-home .text {
    text-align: center;
  }
  #home .content-home .text .dot {
    margin-left: 2rem;
  }
  #home .profile-pic {
    display: none;
  }
  #about .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    text-align: center;
    line-height: 26px;
    padding: 30% 10%;
  }
  #about .skills {
    text-align: center;
  }
  #about .skills img {
    width: 70px;
    margin-right: 30px;
  }
  #about .skills .image-skills {
    padding: 30px 30px;
  }
  #about .skills .image-skills .image1, #about .skills .image-skills .image2, #about .skills .image-skills .image3, #about .skills .image-skills .image4, #about .skills .image-skills .image5, #about .skills .image-skills .image6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
  }
  #projects {
    padding: 30px;
  }
  #projects .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 30px;
  }
  #projects .gallery .project {
    width: 200px;
    text-align: center;
  }
  #projects .gallery .project .desc {
    padding: 15px 0;
  }
  #footer {
    padding: 30px;
  }
  #footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #footer .contact .vr-footer {
    display: none;
  }
  #footer .contact .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .contact .social h3 {
    padding: 20px 0;
  }
  #footer .contact .social .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10px;
  }
  #footer .contact .social .icons img {
    padding-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */